<launch>

  <!-- defines name of the namespace of the drone -->
  <arg name="uav_name" default="$(optenv UAV_NAME uav1)" />

  <!-- allows disabling the gui from command line -->
  <arg name="gui" default="true" />

  <!-- will it run using GNU debugger? -->
  <arg name="debug" default="false" />
  <arg unless="$(arg debug)" name="launch_prefix_debug" value=""/>
  <arg     if="$(arg debug)" name="launch_prefix_debug" value="debug_roslaunch"/>

  <!-- will it run as standalone nodelet or using a nodelet manager? -->
  <arg name="standalone" default="$(optenv STANDALONE true)" />
  <arg name="manager" default="$(arg uav_name)_waypointflier_manager" />
  <arg unless="$(arg standalone)" name="nodelet" value="load"/>
  <arg     if="$(arg standalone)" name="nodelet" value="standalone"/>
  <arg unless="$(arg standalone)" name="nodelet_manager" value="$(arg manager)"/>
  <arg     if="$(arg standalone)" name="nodelet_manager" value=""/>

  <!-- Namespace -->
  <group ns="$(arg uav_name)">

    <!-- EdgeDetect nodelet -->
    <node pkg="nodelet" type="nodelet" name="vision_example" args="$(arg nodelet) vision_example/EdgeDetect $(arg nodelet_manager)" launch-prefix="$(arg launch_prefix_debug)" output="screen">

      <!-- Parameters loaded from launch file -->
      <param name="gui" type="bool" value="$(arg gui)"/>

      <!-- ROS parameters config file -->
      <rosparam file="$(find vision_example)/config/simulation/simulation.yaml" />

      <!-- Subscribers -->
      <remap from="~image_in" to="bluefox_wall/image_raw" />
      <remap from="~camera_info_in" to="bluefox_wall/camera_info" />

      <!-- Publishers -->
      <remap from="~test_publisher" to="~image_number" />

    </node>

  </group>

</launch>
