<launch>

  <!-- defines name of the namespace of the drone -->
  <arg name="UAV_NAME" default="$(optenv UAV_NAME uav1)" />

  <!-- set to false if the nodelet should run under an external nodelet manager -->
  <arg name="standalone" default="true" />

  <!-- allows disabling the gui from command line -->
  <arg name="gui" default="true" />

  <!-- will it run using GNU debugger? -->
  <arg name="debug" default="false" />
  <arg unless="$(arg debug)" name="launch_prefix_debug" value=""/>
  <arg     if="$(arg debug)" name="launch_prefix_debug" value="debug_roslaunch"/>

  <!-- will it run as standalone nodelet or using a nodelet manager? -->
  <arg name="manager" default="$(arg UAV_NAME)_edge_detector_manager" />
  <arg     if="$(arg standalone)" name="nodelet" value="standalone"/>
  <arg unless="$(arg standalone)" name="nodelet" value="load"/>
  <arg     if="$(arg standalone)" name="nodelet_manager" value=""/>
  <arg unless="$(arg standalone)" name="nodelet_manager" value="$(arg manager)"/>

  <!-- Namespace - all topics and parameters will be remapped using this namespace as a prefix (eg.: "vision_example/image_in" to "/uav1/vision_example/image_in") -->
  <group ns="$(arg UAV_NAME)">

    <!-- EdgeDetect nodelet -->
    <node pkg="nodelet" type="nodelet" name="edge_detector" args="$(arg nodelet) example_edge_detector/EdgeDetector $(arg nodelet_manager)" launch-prefix="$(arg launch_prefix_debug)" output="screen">

      <!-- Parameters loaded from launch file -->
      <param name="gui" type="bool" value="$(arg gui)"/>

      <param name="UAV_NAME" type="string" value="$(arg UAV_NAME)"/>

      <!-- ROS parameters config file -->
      <rosparam file="$(find example_edge_detector)/config/edge_detector.yaml" />

      <!-- Subscribers (note that the topic names will also be remapped using the namespace as a prefix) -->
      <remap from="~image_in" to="mobius_front/image_raw" />
      <remap from="~camera_info_in" to="mobius_front/camera_info" />

      <!-- Publishers (note that the topic names will also be remapped using the namespace as a prefix) -->
      <remap from="~image_number_out" to="~image_number" />

    </node>

  </group>

</launch>
